.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(var(--windowWidth) - 20px);
  height: calc(
    100vh - var(--headerHeight) - (var(--fontSize) + 20px+ 20px + 20px - 2px)
  );
  position: relative;
  font-family: "Quicksand";
  gap: 20px;
  background-color: rgba(var(--rgbColor6), 0.6);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 10px;
}

.error_code {
  font-size: calc(var(--fontSize) + 60px);
  font-weight: bold;
  font-family: "Minecraftia";
  color: var(--color2);
  margin-bottom: -20px;
}

.error_title {
  font-size: calc(var(--fontSize) + 24px);
  font-weight: bold;
  font-family: "FredokaOne";
  color: var(--color2);
}

.error_text {
  color: var(--color5);
  font-size: calc(var(--fontSize) + 6px);
  font-weight: bold;
  width: calc(var(--windowWidth) * 80 / 100);
}

.error_homeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--color2);
  color: var(--color6);
  border-radius: 10px;
  box-shadow: var(--boxShadow1);
  font-weight: bold;
  font-family: "Montserrat";
}

.error_homeButton:hover {
  color: var(--color6);
}

.error_homeButton:link {
  color: var(--color6);
}

.error_homeButton:active {
  color: var(--color6);
}
