:root {
  --windowWidth: 90vw;
  --fontSize: 12px;
  --headerHeight: 60px;
  --color1: rgb(246, 199, 68);
  --color2: rgb(232, 167, 46);
  --color3: rgb(240, 136, 0);
  --color4: rgb(92, 59, 30);
  --color5: rgb(255, 247, 230);
  --color6: rgb(26, 14, 5);
  --color7: rgb(240, 200, 0);
  --rgbColor1: 246, 199, 68;
  --rgbColor2: 232, 167, 46;
  --rgbColor3: 240, 136, 0;
  --rgbColor4: 92, 59, 30;
  --rgbColor5: 255, 247, 230;
  --rgbColor6: 26, 14, 5;
  --rgbColor7: 240, 200, 0;
  --boxShadow1: 0px 0px 10px 0px rgba(var(--rgbColor2), 0.5);
  --boxShadow2: 0px 4px 10px 0px rgba(var(--rgbColor2), 0.5);
  --boxShadow3: 0px 0px 20px 0px rgba(var(--rgbColor6), 0.5);
  --textShadow1: 0px 0px 10px rgba(var(--rgbColor7), 0.5);
}

@media only screen and (min-width: 1024px) {
  :root {
    --windowWidth: calc(100vw * 80 / 100);
    --fontSize: 14px;
    --headerHeight: 80px;
  }
}

@media only screen and (min-width: 1382px) {
  :root {
    --windowWidth: calc(1382px * 80 / 100);
  }
}

@font-face {
  font-family: "FredokaOne";
  src: url("/fonts/fredokaone.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/quicksand.otf");
}

@font-face {
  font-family: "Minecraftia";
  src: url("/fonts/minecraftia.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  scrollbar-color: var(--color7) transparent;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  min-width: 5px;
  max-width: 5px;
  min-height: 5px;
  max-height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color7);
  border-radius: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100dvh;
  max-height: fit-content;
  overflow-x: hidden !important;
  background-color: var(--color5);
  font-family: "Quicksand";
  color: var(--color5);
  font-size: var(--fontSize);
}

pre {
  font-family: "Quicksand";
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: var(--fontSize);
}

pre::placeholder {
  font-family: "Quicksand";
}

textarea {
  font-family: "Quicksand";
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: var(--fontSize);
}

textarea::placeholder {
  font-family: "Quicksand";
}

a {
  color: var(--color5);
  text-decoration: unset;
}

a:hover {
  color: var(--color5);
  text-decoration: unset;
}

a:link {
  color: var(--color5);
  text-decoration: unset;
}

a:active {
  color: var(--color5);
  text-decoration: unset;
}
