.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  font-family: "Quicksand";
}

.contentContainer::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  pointer-events: none;
  z-index: 0;
}

.contentContainer img {
  object-fit: cover;
  object-position: center;
  min-height: 100% !important;
}

.contentContainer_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: calc(100vw - 20px);
  min-height: calc(100vh - var(--headerHeight) - 40px);
  background-color: rgba(var(--rgbColor6), 0.05);
  margin: 10px 0;
  border-radius: 20px;
  padding: 10px;
  z-index: 1;
}
